#description {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 100px;
}

#accroche {
    width: 1000px;
    font-size: 50px;
    text-align: end;
    display: flex;
    align-self: flex-end;
    box-shadow: 5px 5px  rgb(0, 0, 216);
    padding-bottom: 50px;
    padding-right: 50px;
}

.centre-interet {
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-end;
    width: 1300px;
    gap: 50px;
}

.ci {
    text-align: center;
    width: 400px;
    box-shadow: 5px 5px  blueviolet;
    padding-bottom: 50px;
    padding-right: 50px;
    height: 100px;
}